/touch/
/buildlog*
/resources/sass/.sass-cache/
/resources/css/ggv/
/sass/
/.sencha_backup/
/build/
/ggvDate.txt
.DS_Store
/cordova/hooks/
/cordova/merges/
/cordova/platforms/ios/build/
/cordova/platforms/android/
/cordova/platforms/ios/www/
/cordova/platforms/android/www/
/cordova/www/
cordova/

